.portImg {
    height: 60%;
    width: 100%;
   
}
.content {
   
    padding-left: 15px;
    width: 60%;
}

.testAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-top: 20px;
    padding-bottom: 20px;
}

.white {
    background-color: white;
}

.link {
    padding: 10px;
}

.portP {
    font-size: 20px;
}

.btnPink {
    background-color: rgb(235, 145, 160);
}



@media screen and (max-width: 991px) {

    .portP {
       font-size: 15px;
    }
 
 }