#contact {
     
        background-color: white;
       margin-top: 20px;
       margin-bottom: 20px;
        width: 30%;
        height: 20%;
        border: 2px solid black;
    
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

.fa {
    padding-left: 20px;
}

.filler {
    height: 20%;
    background-color: rgb(235, 145, 160);
}