

#welcome {
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url("../../assets/images/pink_brick.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mainTitle {
    float: right;
    margin-top: 100px;
    
    font-family: 'Sacramento', cursive;
    font-size: 100px;
}

.anna { 
    float: left;  
    height: 250px;
    width: 100%;
    border-radius: 50%;
} 

.title {
    background-color: rgba(255, 255, 255, 0.517);
    padding-top: 10px;
}

.description {
    margin-top: 230px;
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    text-align: right
}

@media screen and (max-width: 1198px) {

    .mainTitle {
        font-size: 80px;;
    }

    .anna {
        height: 290px;
    width: 300px;
    }

}



