img {
    height: 400px;
    width: 40%;
}

.content {
    float: left;
    padding-left: 15px;
}

.testAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background-color: white;
}

.link {
    padding: 10px;
}

.portP {
    font-size: 20px;
}

.btnWhite {
    background-color: white;
}

.btnPink {
    background-color: rgb(235, 145, 160);
}

.last {
    margin-bottom: 75px;
}