#homeNav {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("../../assets/images/pink_brick.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio {
    background-image: url("../../assets/images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
}

.contact {
    background-image: url("../../assets/images/portfolio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
}

.contact:hover, .portfolio:hover {
    opacity: .8;
    text-decoration: none;
}

.headline {
    font-size: 80px;
    color: white;
    font-weight: 200px;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;   
  position: absolute; 
}

@media screen and (max-width: 1199px) {

    .headline {
        font-size: 60px;
    }
 
 }

 @media screen and (max-width: 991px) {

    .headline {
        font-size: 40px;
    }
 
 }

