
/* Full Body Styling */

* {
    font-family: 'Cabin Condensed', sans-serif;
}

/* Nav Bar Styling */
nav {
    border: 2px solid black;
}

.navbar-brand {
    font-size: 2.5rem;
}

.nav-item:hover {
    text-decoration: underline;
}

/* General Body Styling */
.mainBody {
    background-color: rgb(235, 145, 160); 
    
    min-height: 110vh;

}

/* Footer Styling */

@media screen and (max-width: 415px) {

    span {
        display: block;
    }

}